@using DATA.Models.ViewModels
@model DoctorRegisterViewModel

@{
    ViewBag.Title = "Register Doctor";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            @if (TempData["failed"] != null)
            {
                <img src="~/images/failed.jpg" width="30" height="30" />
                <span style="color: red; font-size:large;" role="alert">
                    @TempData["failed"]
                </span>
                <br />
            }
            @if (TempData["success"] != null)
            {
                <img src="~/images/ok.jpg" width="50" height="50" />
                <span style="color: green; font-size:large;" role="alert">
                    @TempData["success"]
                </span>
                <br />
            }
            @using (Html.BeginForm("Create", "Doctor", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-sm-6">
                        <label>User Name</label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Enter User Name", required = "required" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Password", required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Doctor Name</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Doctor Name", required = "required" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Email", type = "email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Phone Number</label>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter Phone Number", type = "tel" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Specialty</label>
                        @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control", placeholder = "Enter Specialty" })
                        @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Qualification</label>
                        @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", placeholder = "Enter Qualification" })
                        @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Years of Experience</label>
                        @Html.TextBoxFor(model => model.YearsOfExperience, new { @class = "form-control", placeholder = "Enter Years of Experience", type = "number" })
                        @Html.ValidationMessageFor(model => model.YearsOfExperience, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Clinic Name</label>
                        @Html.TextBoxFor(model => model.ClinicName, new { @class = "form-control", placeholder = "Enter Clinic Name" })
                        @Html.ValidationMessageFor(model => model.ClinicName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Address</label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Enter Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                   
                    <div class="col-sm-6">
                        <label>Start Time</label>
                        @Html.TextBox("StartTime", null, new { @class = "form-control", placeholder = "Enter Start Time", type = "time", required = "required" })
                    </div>
                    <div class="col-sm-6">
                        <label>End Time</label>
                        @Html.TextBox("EndTime", null, new { @class = "form-control", placeholder = "Enter End Time", type = "time", required = "required" })
                    </div>
                </div>

                

                <div class="row" style="margin-top: 1%">
                    <div class="col-md-12 m-t-30">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Reset</button>
                    </div>
                </div>
                <h4>To Show List of Doctors @Html.ActionLink("click here", "Index")</h4>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out3").addClass('collapse in');
        $("#doctor-id").addClass('active');
    });
</script>
